<h1>Karta osoby: {{surname}} {{firstletter}}.</h1>
<dl>
    <dt>Jméno</dt>
    <dd>{{firstname}}</dd>

    <dt>Příjmení</dt>
    <dd>{{surname}}</dd>

    <dt>Pozice</dt>
    <dd>{{job}}</dd>

    <dt>Mzda</dt>
    <dd>{{wage}}</dd>

    <dt>Místnost</dt>
    <dd><a href="room.php?roomId={{room_id}}">{{room_name}}</a></dd>

    <dt>Klíče</dt>
    <dd>
        {{#keys}}
            <a href="room.php?roomId={{room_id}}">{{name}}</a><br>
        {{/keys}}
        {{^keys}}
            Nikdo
        {{/keys}}
    </dd>
</dl>