<table class="table table-striped sortable">
    <thead class="highlight">
    <tr>
        <th>Jméno
            <a href="?sort=0" {{#sort-0}}class="red-text"{{/sort-0}}>⬇</a>
            <a href="?sort=1" {{#sort-1}}class="red-text"{{/sort-1}}>⬆</a>
        </th>
        <th>Pozice
            <a href="?sort=2" {{#sort-2}}class="red-text"{{/sort-2}}>⬇</a>
            <a href="?sort=3" {{#sort-3}}class="red-text"{{/sort-3}}>⬆</a>
        </th>
        <th>Telefon
            <a href="?sort=4" {{#sort-4}}class="red-text"{{/sort-4}}>⬇</a>
            <a href="?sort=5" {{#sort-5}}class="red-text"{{/sort-5}}>⬆</a>
        </th>
        <th>Místnost
            <a href="?sort=6" {{#sort-6}}class="red-text"{{/sort-6}}>⬇</a>
            <a href="?sort=7" {{#sort-7}}class="red-text"{{/sort-7}}>⬆</a>
        </th>
    </tr>
    </thead>
    <tbody>
    {{#items}}
        <tr>
            <td><a href="employee.php?employeeId={{ employee_id }}">{{ name }}</a></td>
            <td>{{position}}</td>
            <td>{{phone}}</td>
            <td>{{room_name}}</td>
        </tr>
    {{/items}}
    </tbody>
</table>