<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
</head>
<body class="container">