<h1>Místnost {{no}}</h1>
<dl>
    <dt>Číslo místnosti</dt>
    <dd>{{no}}</dd>

    <dt>Název místnosti</dt>
    <dd>{{name}}</dd>

    <dt>Telefon</dt>
    {{#phone}}
        <dd>{{phone}}</dd>
    {{/phone}}
    {{^phone}}
        <dd>Není</dd>
    {{/phone}}

    <dt>Lidé</dt>
    <dd>
        {{#employees}}
            <a href="employee.php?employeeId={{id}}">{{name}}</a><br>
        {{/employees}}
        {{^employees}}
            Nikdo
        {{/employees}}
    </dd>

    <dt>Průměrný plat</dt>
    <dd>
        {{#salary}}
            {{salary}} Kč
        {{/salary}}
        {{^salary}}
            Není
        {{/salary}}
    </dd>

    <dt>Klíče</dt>
    <dd>
        {{#keys}}
            <a href="employee.php?employeeId={{id}}">{{name}}</a><br>
        {{/keys}}
        {{^keys}}
            Nikdo
        {{/keys}}
    </dd>
</dl>