<table class="table table-striped sortable">
    <thead class="highlight">
    <tr>
        <th>Jméno
            <a href="?sort=0" {{#sort-0}}class="red-text"{{/sort-0}}>⬇</a>
            <a href="?sort=1" {{#sort-1}}class="red-text"{{/sort-1}}>⬆</a>
        </th>
        <th>Číslo místnosti
            <a href="?sort=2" {{#sort-2}}class="red-text"{{/sort-2}}>⬇</a>
            <a href="?sort=3" {{#sort-3}}class="red-text"{{/sort-3}}>⬆</a>
        </th>
        <th>Telefon
            <a href="?sort=4" {{#sort-4}}class="red-text"{{/sort-4}}>⬇</a>
            <a href="?sort=5" {{#sort-5}}class="red-text"{{/sort-5}}>⬆</a>
        </th>
    </tr>
    </thead>
    <tbody>
    {{#items}}
        <tr>
            <td><a href="room.php?roomId={{room_id}}">{{name}}</a></td>
            <td>{{no}}</td>
            <td>{{phone}}</td>
        </tr>
    {{/items}}
    </tbody>
</table>